{% extends "base.html" %}

{% block title %}
Инструкция
{% endblock %}

{% block body %}
<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <p class="d-flex align-items-center text-white">
        <img src="static/images/mascot.svg" alt="mascot" width="90">
      </p>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="fs-5 btn btn-lg btn-light rounded-pill" href="/home" role="button" style="width: 200px; height: 50px;">В главное меню</a>
      </nav>
    </div>

    <div class="p-4 p-md-5 mb-4 text-black rounded bg-white">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">Как пользоваться приложением?</h1>
      <p class="lead my-3">Здесь можно ознакомиться с основными функциями приложения и найти ответ на свой вопрос. Приятного прочтения!</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
</svg>
    </div>
  </div>



</header>
{% endblock %}