{% extends "base.html" %}

{% block title %}
Организатор: создание новой игры
{% endblock %}

{% block body %}

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <p class="d-flex align-items-center text-white">
            <img src="static/images/mascot.svg" alt="mascot" width="90">
        </p>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <p class="fs-2 text-white" style="width: 250px; height: 30px;">Evento x HSE</p>
        </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-1 fw-bold text-white">Новая игра</h1>
    </div>

    <form action="" method="post" class="form-contact">
        <div class="col-lg-8 mx-auto">
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="name_manager" value="" class="form-control form-control-lg" placeholder="ФИО организатора" required/>
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="name_game" value="" class="form-control form-control-lg" placeholder="Название игры" required/>

            <p class="text-custom">-</p>

            <div class="container">
                <div class="row g-4">
            <div class="col-lg-14 btn-group btn-group-toggle" data-toggle="buttons">
              <label class="fs-4 btn btn-lg btn-light rounded-pill" style="width: 300px; height: 70px;">
                <input type="radio" name="options" id="option1" value="option1"> Хакатон
              </label>
                <p class="text-custom">-</p>
                <p class="text-custom">-</p>
              <label class="fs-4 btn btn-lg btn-light rounded-pill" style="width: 300px; height: 70px;">
                <input type="radio" name="options" id="option2" value="option2"> Квиз
              </label>
                <p class="text-custom">-</p>
                <p class="text-custom">-</p>
              <label class="fs-4 btn btn-lg btn-light rounded-pill" style="width: 300px; height: 70px;">
                <input type="radio" name="options" id="option3" value="option3"> Своя игра
              </label>
                </div>
                </div>
            </div>

             <p class="text-custom">-</p>

             <div class="container">
                <div class="row g-4">
            <div class="col-lg-14 btn-group btn-group-toggle" data-toggle="buttons1">
              <label class="fs-4 btn btn-lg btn-light rounded-pill" style="width: 200px; height: 70px;">
                <input type="radio" name="optionss" id="option4" value="option4"> Одиночная игра
              </label>
                <p class="text-custom">---------------------------------------------</p>
              <label class="fs-4 btn btn-lg btn-light rounded-pill" style="width: 200px; height: 70px;">
                <input type="radio" name="optionss" id="option5" value="option5"> Командная игра
              </label>
                </div>
                </div>
            </div>


            <div class="container">
                <p class="text-custom">-</p>
            <div class="row g-2">
                <div class="col-7">
                    <a class="fs-2 btn btn-lg btn-light rounded-pill" href="/manager_menu" role="button" style="width: 390px; height: 80px;">Назад</a>
                </div>
                <div class="col-4">
                    <p><input class="fs-2 btn btn-lg btn-light rounded-pill"  type="submit" style="width: 390px; height: 80px;" value="Продолжить"/>
                </div>
            </div>
                </div>
        </div>
    </form>



</header>





{% endblock %}