{% extends "base.html" %}

{% block title %}
Тимлид команды
{% endblock %}

{% block body %}

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <p class="d-flex align-items-center text-white">
            <img src="static/images/mascot.svg" alt="mascot" width="90">
        </p>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <p class="fs-2 text-white" style="width: 250px; height: 30px;">Evento x HSE</p>
        </nav>
    </div>

    <div class="pricing-header p-1 pb-md-1 mx-auto text-center">
      <h1 class="display-1 fw-bold text-white">Командная игра</h1>
      <div class="p-3 mb-2 bg-danger text-white">Неверный код игры, попробуйте снова</div>
    </div>

    <form action="" method="post" class="form-contact">
        <div class="col-lg-8 mx-auto">
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="teamleader" value="" class="form-control form-control-lg" placeholder="ФИО тимлида" required/>
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="players" value="" class="form-control form-control-lg" placeholder="ФИО участников (в строку, через запятую)" required/>
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="team" value="" class="form-control form-control-lg" placeholder="Название команды" required/>
            <p><label class="col-lg-2 col-form-label"></label> <input type="text" name="contact" value="" class="form-control form-control-lg" placeholder="Контакт (номер телефона, telegram, email и т.п.)" required/>
            <p><label class="col-lg-2 col-form-label"></label> <input type="password" name="psw" value="" class="form-control form-control-lg" placeholder="Код игры" required />
            <div class="container">
                <p class="text-custom">-</p>
            <div class="row g-5">
                <div class="col-6">
                    <a class="fs-2 btn btn-lg btn-light rounded-pill" href="/home" role="button" style="width: 400px; height: 80px;">В главное меню</a>
                </div>
                <div class="col-6">
                    <p><input class="fs-2 btn btn-lg btn-light rounded-pill"  type="submit" style="width: 400px; height: 80px;" value="Далее" />
                </div>
            </div>
                </div>
        </div>
    </form>

</header>





{% endblock %}
